<?xml version="1.0" encoding="UTF-8"?>
<element>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptServlet</display-name>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>com.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/DeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>com.servlet.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplianceServlet</display-name>
    <servlet-name>ComplianceServlet</servlet-name>
    <servlet-class>com.servlet.ComplianceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplianceServlet</servlet-name>
    <url-pattern>/ComplianceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.servlet.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDeptServlet</display-name>
    <servlet-name>EditDeptServlet</servlet-name>
    <servlet-class>com.servlet.EditDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeptServlet</servlet-name>
    <url-pattern>/EditDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDept</display-name>
    <servlet-name>DeleteDept</servlet-name>
    <servlet-class>com.servlet.DeleteDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDept</servlet-name>
    <url-pattern>/DeleteDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusDao</display-name>
    <servlet-name>StatusDao</servlet-name>
    <servlet-class>com.Dao.StatusDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusDao</servlet-name>
    <url-pattern>/StatusDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>